html
    head
        title=title
    body 
        form(action="/createUser" method="POST")
            p="Username: " 
            input(type="text" name="username")
            p="Password: "
            input(type="text" name="password")
            input(type="submit")
            br
            a(class='button', href='/') Home
            br
            message=message